<!-- <!DOCTYPE html>
<html>
<head>
    <title>Hiển thị ảnh và nhập câu hỏi</title>
</head>
<body>
    <h1>Nhập câu hỏi</h1>
    <form method="POST">
        <input type="text" name="question" placeholder="">
        <input type="submit" value="Gửi">
    </form>

    <h2>Số lá: {{ number_card }}</h2>

    <h2>Thông tin từ image_name</h2>
    <div>
        {% for label in image_name %}
            <p>{{ label }}</p>
        {% endfor %}
    </div>

    <h2>Hiển thị hình ảnh</h2>
    <div>
        {% for image_path in image_paths %}
            <img src="{{ url_for('static', filename=image_path) }}" alt="Hình ảnh">
        {% endfor %}
    </div>
</body>
</html> -->


{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }}: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}